* { border-style:solid ;
    border-color: brown;
    border-width: 1px;}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}


.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    padding: 7em;
}


.one {
    background-color: #174044;
    color: white;
    align-items: center;
    flex: 3;
}

.two {
    background-color:rgb(191, 99, 6);
    flex: 3 0;
    height: 100%;
    justify-content: space-around;
}

.three {
    background-color: blueviolet;
    flex: 2;
    font-size: 36px;

}
.quote {
    
    
    text-align: justify;
    margin: 0% 25%;
    
    
}

.author {
    display: inline-block;
    
    font-weight: 700;
    text-align: right;
    margin: 0% 25%;
}

.four {
    background-color: blanchedalmond;
    flex: 2;
    color: white;
    align-items: center;
}

.blue {
    display: flex;
    background-color: #3882F6;
    border-style: none;
    border-radius: 8px;
    width: 80%;
    padding: 3% 10%;
    align-items: center;
    justify-content: space-between;
    
}

.call {
    display: flex;
    flex-direction: column;
}

.call,p,h3 {
    margin: 0;
}
.enter,button {
    display: flex;
    max-width: 50%;
    max-height: 72px;
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    border-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    
}


.header, .hero {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.hero {
    height: 100%;
    gap: 10vh;
    flex-wrap: wrap;
}



.hero-img {
    flex: 1 1 1;
    height: auto;
    width: 30em;
}


.hero-text {
    font-size: 48px;
    padding: 0;
    flex: 1;
    
}

.logo {font-size: 24px;
margin: 0;
padding: 0;}

.links {
    display: flex;
}

h3 {font-size: 24px;
    font-weight: 700;
}

button {
display: flex;
max-width: 50%;
border-radius: 8px;
background-color:#3882F6;
border-style: none;
color: white;
font-weight: 700;
padding: 12px 32px;
font-size: 24px;
justify-content: center;
align-items: center;
margin-top: 1%;
}

.hero-text p {
    color: #E5E7EB;
}

ul {display: flex;
    list-style: none;
    gap: 24px;}

a {text-decoration: none;
    color: #E5E7EB;
    font-size: 24px;
}

.boxes {
    display: flex;
}

.random-info {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 5%;
    max-width: 100%;
    text-align: center;
    flex-wrap: wrap;
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.box {
    max-width: 400px;
}

.box img  { 
    border-style: solid;
    border-color: rgb(38, 0, 0);
    border-radius: 16px;
    border-width: 10px;
}

.one {
    padding-top: 1%;
}


